html {
  font-size: 14px;
}

body {
  color: #025fb4;
  font-family: sans-serif;
  font:helvetica;
  line-height: 1.5;
}

a,
a:visited {
  color: rgba(47,94,170);
}

header {
  background-color: #fdf1f4;
  border-bottom: 2px solid #025fb4;;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header h1 {
  margin-left: 8px;
}

#content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-column-gap: 20px;
}

nav {
  border: 1px solid #025fb4;;
}
.midline {
  stroke: black;
  stroke-width: 1px;
    }

.line {
  fill: none;
  stroke: #4285F4;
  stroke-width: 1px;
    }
    
.linearea {
  fill: #346DF1;
  opacity:.1;
  stroke: #346DF1;
  stroke-width: 1px;

}
